[submodule "unicode/ucd-12.1"]
	path = unicode/ucd-12.1
	url = git@github.com:scott-fleischman/ucd.git
[submodule "unicode/ucd-13.0"]
	path = unicode/ucd-13.0
	url = git@github.com:scott-fleischman/ucd.git
